// imports

// DM Sans
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
// Outfit
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
// EB Garamond
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

// vars
$primary-red: #fd0e0e;
$primary-orange: #fb5a14;
$primary-blue: #2368d0;

$white: #fff;
$black: #000;

//$border: 1px solid black;
$border: none;

$margin-left: 70px;

// MEDIA QUERY MANAGER
/* 
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet Landscape
1200 - 1800     Desktop - Normal styles
1800px +        Big desktop

ORDER Base + typography > general layout + grid > page layout > components


$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 750px) {
      //750px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (max-width: 1799px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

//css
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track 
  ::-webkit-scrollbar-track {
  }
*/
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    transition: background 0.5s;

    &:hover {
      background: $primary-orange;
    }
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  height: auto;
}

a,
a:visited {
  color: inherit;
  border-bottom: 1px solid $black;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $primary-blue;
    border-bottom: 1px solid $primary-blue;
  }
}

.body {
  padding: 15px 30px;
  height: 4570px;
  position: relative;
  overflow: hidden;
}

.lineas {
  top: 0;
  left: 6px;
  width: 100%;
  position: absolute;
  opacity: 0.7;

  &-op {
    background: url(../assets/phone/lines-op.svg);
    background-repeat: no-repeat;
    height: 100%;
    left: 9px;
  }
  &-complete {
    background: url(../assets/phone/lines-complete.svg);
    background-repeat: no-repeat;
    z-index: 0;
    height: 4542.16px;
  }
}

.draw {
  &-esqueleton {
    position: absolute;
    left: 55px;
    top: 60px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link-container {
    margin-right: 8px;
    a {
      font-size: 14px;
      margin: 0 6px;
      line-height: 110.5%;
      border: 1px solid transparent;
    }
  }

  .isologo-container {
    position: relative;

    .isologo {
      width: 70px;
      position: relative;
      top: 4px;
    }
  }
}

.title-box {
  position: absolute;
  width: 338px;
  height: 162px;
  left: 40px;
  top: 204px;

  h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 25px;
  }

  .title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.035em;

    &-red {
      color: $primary-red;
    }

    &-orange {
      color: $white;

      &-box {
        background-color: $primary-orange;
        width: 224px;
      }
    }
  }

  h3 {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 139.2%;
    letter-spacing: 0.459em;
    color: $primary-blue;
  }
}

.portada {
  .slogan {
    position: absolute;
    width: 363px;
    height: 42px;
    left: 40px;
    top: 613px;

    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
  }

  .place {
    position: absolute;
    height: 16px;
    left: 40px;
    top: 684px;
  }
}

// Content

// Content classes
.section-title {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 106.5%;

  .detail {
    position: relative;
    display: inline-block;
    top: -10px;
    left: -10px;
  }
}

.section-subtitle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.045em;
}

.section-cw {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.045em;
  margin-top: 3px;
}

.section-ul {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.045em;
  width: 318px;

  &--li,
  &--p {
    margin: 3px 0 0 28px;
  }
}

.section-detail {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 110.5%;
  letter-spacing: -0.05em;
}

.place-format {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.37em;
}

// Section classes
.intro {
  position: absolute;
  width: 319px;
  height: 892.38px;
  left: 20px;
  top: 767px;
}

.modalidad {
  position: absolute;
  width: 319px;
  height: 488px;
  left: 19px;
  top: 1539.67px;
}

.requisitos {
  position: absolute;
  width: 314px;
  height: 186px;
  left: 16px;
  top: 2284px;
}

.programa {
  position: absolute;
  width: 334px;
  height: 980px;
  left: 16px;
  top: 2523px;

  &-detail {
    position: absolute;
    width: 180px;
    height: 16px;
    right: -10px;
    top: 930px;
  }
}

.inscripcion {
  position: absolute;
  width: 319px;
  height: 656.32px;
  left: 19px;
  top: 3508.23px;

  .section-title {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 128.7%;
    letter-spacing: -0.02em;
  }

  .goto-inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 15px 0;

    a {
      border: none;
    }
  }

  .btn {
    border: none;
    width: 222.3px;
    height: 47.71px;
    background: url(../assets/phone/btn-gradient-background.png);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 128.7%;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: $white;
    border-radius: 15px;
    box-shadow: 0px 4px 23px 5px #ff6838;
  }
}

.quienes-somos {
  position: absolute;
  width: 368px;
  height: 439.46px;
  left: 16px;
  top: 4152px;

  .section-div {
    position: relative;
    margin-top: 40px;
    width: 292.96px;

    .lineas-logo {
      display: inline-block;
      position: absolute;
      width: 113.87px;
      height: 96.18px;
      left: 55px;
      top: -40px;
      background-image: url(../assets/phone/logo-black.png);
    }
  }

  .final-text {
    position: absolute;
    width: 271px;
    height: 38.38px;
    right: 30px;
    top: 230px;

    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 128.7%;
    letter-spacing: -0.02em;
  }
}

.final {
  position: absolute;
  width: 158px;
  height: 63px;
  right: 20px;
  top: 4496px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .iso {
    background: url(../assets/iso.png);
    width: 40px;
    height: 44px;
    opacity: 0.7;
    margin: -5px 0 5px 0;
  }

  .place {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.37em;
  }
}

// Utility classes
.z-index {
  &-top {
    z-index: 100;
  }

  &-medium {
    z-index: 50;
  }

  &-bottom {
    z-index: 1;
  }
}

// FORMULARIO

.form-body {
  height: 2180px;
  position: relative;
  overflow: hidden;

  .form {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .lineas {
    display: none;
    opacity: 0.2;

    &-op {
      opacity: 0.4;
    }
  }
}
