@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
}

.svg {
  z-index: 500;
  position: absolute;
  top: 0;
  height: auto;
}
.svg-1 {
  margin-left: 4px;
}

.draw {
  position: absolute;
}
.draw-1 {
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-left: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
}
.nav .menu {
  width: 40px;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 2px solid transparent;
}
.nav .menu:hover {
  border-bottom: 2px solid #fd0e0e;
}

.box {
  margin-top: 150px;
}
.box-1 {
  position: relative;
  border: none;
  padding: 50px 0;
  height: 595px;
  margin-left: 70px;
  z-index: 100;
}
.box-1 .title {
  font-family: Outfit;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.035em;
}
.box-1 .title-1 {
  color: #fd0e0e;
}
.box-1 .title-2 {
  color: #fff;
}
.box-1 .title-2-box {
  background-color: #fb5a14;
  width: 336px;
}
.box-1 h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.39em;
  color: #2368d0;
}
.box-1 h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 30px;
}
.box-1 .city {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.37em;
}
.box-1 .phrase {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: 100px;
}
.box-5 {
  column-count: 2;
}
.box-5 h2 {
  column-span: all;
  margin-bottom: 30px;
}
.box-5 .content-paragraph {
  margin: 0 0 40px 0 !important;
}
.box-6 .btn {
  display: flex;
  justify-content: center;
}
.box-6 .btn-insc {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  line-height: 128.7%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 224px;
  height: 42px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 4px 4px -1px #b31919;
  border: none;
  cursor: pointer;
}
.box-6 .btn-insc::before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(../assets/btn-gradient.png);
}
.box-7 p {
  margin: 0;
}
.box-7 .logotipo-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.box-7 .isotipo-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.045em;
}
.content-paragraph {
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.045em;
  margin: 40px 0;
}
.content-paragraph-last {
  font-weight: normal;
  font-size: 24px;
  line-height: 128.7%;
  letter-spacing: -0.02em;
  display: block;
  text-align: right;
  margin: 40px 40px 100px 0 !important;
}
.content-list {
  margin: 20px 30px;
}
.content-list-item {
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.045em;
}

.sublist-item {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
